version: "3.8"
services:
    db:
        image: mysql
        container_name: tesco_db
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
        ports: 
            - ${DB_PORT}:3306
        restart: always
        volumes: 
            - ./db:/var/lib/mysql
        environment:
            - MYSQL_DATABASE=${DB_NAME} 
            - MYSQL_ROOT_PASSWORD=${DB_PASSWD}  
    scrapy:
        build: .
        volumes: 
            - ./src:/project/
        container_name: tc
        env_file:
          - .env
        depends_on:
            - db